@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles for number input */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield; /* For Firefox */
}

#root {
	background-color: #201c24;
}

.shadow-bottom-right {
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
